name: 'Gradle - Build & Test'
on:
  workflow_dispatch:
  push:
    branches: [ '**', 'main' ]
env:
  MIN_COVERAGE: 70
jobs:
  build-test:
    permissions: write-all
    uses: niallikigai/actionsdemo/.github/workflows/gradle-build-template.yml@main
    with:
      minimum-coverage: 70
  artifact-cleanup:
    runs-on: ubuntu-latest
    needs: build-test
    if: always()
    steps:
      - name: Delete artifact
        uses: geekyeggo/delete-artifact@v2
        with:
          name: build-files


