name: 'Push to ECR'

on:
  workflow_call:
    inputs:
      build-files:
        required: false
        default: "build-files"
        type: string
      AWS_REGION:
        required: true
        type: string
      ECR_REPOSITORY:
        required: true
        type: string
    outputs: 
      result:
        description: The result of the build-image operation
        value: ${{ jobs.push-to-ecr.outputs.image }}

jobs:

  push-to-ecr:
    runs-on: ubuntu-latest
    name: Push to ECR
    environment: development
    outputs:
      image: ${{ steps.build-image.outputs.image }}

    steps:
      - name: Download Build Output
        uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.build-files}}

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.run_number }}
        run: |
          imageName=$ECR_REGISTRY/${{inputs.ECR_REPOSITORY}}:$IMAGE_TAG
          echo "Build and push $imageName"
          docker build -t $ECR_REGISTRY/${{inputs.ECR_REPOSITORY}}:$IMAGE_TAG .
          echo "image=$imageName" >> $GITHUB_OUTPUT

